/* CSS files add styling rules to your content */

body {
  
  background-color: #fffff;
  margin: 50px auto 50px auto;
  
}

section {
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  margin-left:5%;
}

img.image_1 {
  grid-column: 3 / span 4;
  grid-row: 1 / span 4;
  
}

img.image_2 {
  grid-column: 6 / span 4;
  grid-row: 2 / span 4;
  
}

img.image_3 {
  grid-column: 5 / span 4;
  grid-row: 4 / span 5;
  
}

img.image_4 {
  grid-column: 1 / span 5;
  grid-row: 3 / span 5;
  
}

img.image_5 {
  grid-column: 2 / span 5;
  grid-row: 5 / span 5;
  
}

img:hover{
  position: relative;
  z-index: 1;
  
}

@media (max-width: 1100px)  {
  
  body{
    width: 800px
    
  }
}

@media (max-width: 900px)  {
  
  body{
    width: 500px
    
  }
}